pkg/*
*.pyc
bin/*
.project
/.bin
/_test/secrets/*.json

/charts/*/charts
/charts/*/requirements.lock
.idea
.DS_Store
.vscode

build/
.gradle
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

/.direnv
/.envrc.local
/env
.env.local
*.log
node_modules/

/result*

